<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap -mx-4 -mb-10 text-center">
      <div class="sm:w-1/2 mb-10 px-4 text-left">
        <div class="rounded-lg h-64 overflow-hidden">
          <%= image_tag 'about/products', class: 'object-cover object-center h-full w-full', alt: 'products' %>
        </div>
        <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">PaiReviewとは</h2>
        <p class="leading-relaxed text-base">PaiReviewとは世の様々なアイテムを<br>
          ・検索<br>
          ・評価<br>
          ・評価を閲覧<br>
          することができるサービスです。<br>
          <div class="h-5"></div>
          このサービスはあなたの日々の暮らしを豊かにするのにきっと役立つでしょう。
        </p>
      </div>
      <div class="sm:w-1/2 mb-10 px-4 text-left">
        <div class="rounded-lg h-64 overflow-hidden">
          <%= image_tag 'about/products2', class: 'object-cover object-center h-full w-full', alt: 'content' %>
        </div>
        <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">PaiReviewの使い方</h2>
        <p class="leading-relaxed text-base">PaiReviewの使い方はいたってシンプルです。<br>
          ・希望に近い条件のタグを選択し、アイテムを検索<br>
          ・みんなのレビューを参考にアイテムを選ぶ<br>
          <div class="h-5"></div>
          またアイテムにレビューを残したい・気になったアイテムをお気に入りに登録したい場合は「新規登録ページ」から新規ユーザー登録を行うことで、レビュー機能・お気に入り登録機能が使用できます。
          <div class="h-10"></div>
          ※Amazonアソシエイト<br>
          「PaiReview」は、Amazon.co.jpを宣伝しリンクすることによってサイトが紹介料を獲得できる手段を提供することを目的に設定された アフィリエイトプログラムである、Amazonアソシエイト・プログラムの参加者です。
        </p>
      </div>
    </div>
  </div>
</section>
