<footer class="text-gray-600 body-font">
  <div class="container px-5 py-2 mx-auto flex items-center sm:flex-row flex-col">
    <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
      <%= link_to 'ホーム', root_path, class: 'mr-3' %>
      <%= link_to 'PaiReviewとは', '/about', class: 'mr-3' %>
      <%= link_to 'アイテム一覧', root_path, class: 'mr-3' %>
      <%= link_to 'お問い合わせ', '/contact', class: 'mr-3' %>
    </span>
  </div>
</footer>
